<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{name}}</ion-title>
    <ion-buttons>
      <ion-button (click) = "returnHome()">
        <ion-icon name="close" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item *ngFor="let song of songs; index as i" (click)="selectSong(song)">
      <ion-avatar>
        {{i + 1}}
      </ion-avatar>
      <label>
        <h2>{{song.name}}</h2>
      </label>
    </ion-item>
  </ion-list>
</ion-content>
