swiper-slide{
    background-color: var(--ion-content-color);
}
  
.slide-icon{
    font-size: 30px;
    /*Punto 5*/
    /*5.vamos usar al menos dos variables predeterminadas de ionic*/
    /*Primer variable (1)*/
    color: var(--ion-color-dark-contrast);
}
  
.my-favourite-text-color{
    color: #43464B;
    /*Punto 5*/
    /*5.vamos usar al menos dos variables predeterminadas de ionic*/
    /*Tercer variable (3)*/
    //color: var(--ion-color-warning-tint) !important;
}
  
h1{
    color: var(--ion-color-primary);
}
  
p{
    font-size: var(--ion-font-size);
    /*Punto 5*/
    /*5.vamos usar al menos dos variables predeterminadas de ionic*/
    /*Segunda variable (2)*/
    //color: var(--ion-color-tertiary);
    color: #8B0000;
}
  
ion-content{
    /*4.Vamos usar las variables creadas por nosotros */
    font-family: var(--ion-font-style);
    //letter-spacing: var(--ion-letter-space);
    text-shadow: var(--ion-text-shadow);
    --background: #fff;
    /*6.Vamos a modificar dos custom properties de cualquier componente en nuestra aplicación*/
    /*Primer costum properties (1)*/
    --padding-bottom: 12px;
    --padding-end: 12px;
    --padding-start: 16px;
    --padding-top: 16px;
    /*Segunda costum properties (2)*/
    --ion-font-family: fantasy;
}

.close-icon{
    font-size: 26px;
    color: #000;
    cursor: pointer;
}