swiper-slide{
    background-color: var(--ion-content-color);
}
  
.slide-icon{
    font-size: 30px;
    color: black;
}
  
.my-favourite-text-color{
    color: #000;
}
  
h1{
    color: var(--ion-color-primary);
}
  
p{
    font-size: var(--ion-font-size);
}
  
ion-content{
    --background: #F39BEF;
}

.close-icon{
    font-size: 26px;
    color: #000;
}