<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Artistas</h1>
  <swiper-container 
  [initialSlide]="0"
  [slidesPerView]="3"
  *ngIf=" !!artists?.length"
  >
    <swiper-slide *ngFor="let artist of artists">
      <ion-avatar (click)="showSongs(artist)">
        <img src="{{artist.image}}" />
        <span>{{artist.name}}</span>
      </ion-avatar>
    </swiper-slide>
  </swiper-container>

  <h1>Artistas (Locales)</h1>
  <swiper-container 
  [initialSlide]="0"
  [slidesPerView]="3"
  *ngIf=" !!localArtists?.length"
  >
    <swiper-slide *ngFor="let localArtist of localArtists">
      <ion-avatar>
        <img src="{{localArtist.images[1].url}}" />
        <span>{{localArtist.name}}</span>
      </ion-avatar>
    </swiper-slide>
  </swiper-container>
  
</ion-content>

<ion-footer>
  <!--<ion-text color="danger" *ngIf="!song.name">
    <h2>Aqui aparecerá nuestra canción</h2>
  </ion-text>

  <ion-text color="primary" *ngIf="song.name">
    <h2>{{song.name}}</h2>
  </ion-text>
-->
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start">
        0:00
      </ion-col>
  
      <ion-col class="ion-text-end">
        0:00
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-progress-bar [value]="0.5"></ion-progress-bar>

  <iob-grid>
    <ion-row>
      <ion-col>
        <ion-icon size="1" name="heart"></ion-icon>
      </ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text>{{song.name || "Sin canción seleccionada"}}</ion-text>
      </ion-col>
      <ion-col>
        <ion-icon size="1" name="play"></ion-icon>
      </ion-col>
  </ion-row>
  </iob-grid>

</ion-footer>