swiper-slide{
  background-color: var(--ion-swipe-color);
  margin-top: 6px;
  margin-left: 4px;
  margin-right: 4px;
}

.slide-icon{
  font-size: 30px;
  color: black;
}

.my-favourite-text-color{
  color: #000;
}

img{
  display: block;
  margin: auto;
}

//******* Punto 1///
//1.crear dos clases scss (tamaño letra, colores, tipografia)

.image-text-description{
  font-size: 15px;
  font-family: fantasy;
  text-align: center;
  line-height: 20px;
  color: #FA4236;
}

.image-tittle{
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: #bb8a8a;
}

ion-avatar{
  height: 100px;
  width: 100px;
}

swiper-slide{
  margin-left: auto;
  margin-right: auto;
  height: 120px;
}

.album-style{
  --border-radius: 4px;
}