<ion-header>
  
</ion-header>

<ion-content>
  <swiper-container [initialSlide]="1" [slidesPerView] = "2">

    <swiper-slide>
      <h1>Titulo principal</h1>
      <img src="assets/images/xdxdxd.jpg" alt="" srcset="">
      <ion-icon class="slide-icon" name="game-controller-outline"></ion-icon>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nulla neque maxime nesciunt optio voluptates, vel odio alias quibusdam natus. Deleniti, repudiandae! Voluptatibus ab quo tenetur repellat repudiandae molestias! Tempora!</p>
    </swiper-slide>

    <swiper-slide>
      <h2>Titulo secundario</h2>
      <img src="assets/images/xdxdxd.jpg" alt="" srcset="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quisquam maxime voluptatibus illum mollitia consectetur provident quam. Iure, a ipsum quam alias illo voluptates fugiat consequuntur amet quae vitae asperiores.Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quisquam maxime voluptatibus illum mollitia consectetur provident quam. Iure, a ipsum quam alias illo voluptates fugiat consequuntur amet quae vitae asperiores.</p>
    </swiper-slide>
    
  </swiper-container>
</ion-content>
