ion-content{
  text-align: center;
  font-family: 'Vesper Libre', serif;
}

.txt-home{
  font-size: 17px;
  font-weight: 600;
  color: #7e9696;
}

img{
  margin: auto;
}

swiper-slide{
  //background-color: var(--ion-swipe-color);
  margin-top: 6px;
  margin-left: 4px;
  margin-right: 4px;
}

.slide-icon{
  font-size: 30px;
  color: black;
}

.my-favourite-text-color{
  color: #000;
}

img{
  display: block;
  margin: auto;
}

//******* Punto 1///
//1.crear dos clases scss (tamaño letra, colores, tipografia)

.image-text-description{
  font-size: 15px;
  font-family: fantasy;
  text-align: center;
  line-height: 20px;
  color: #FA4236;
}

.image-tittle{
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: #bb8a8a;
}

ion-avatar{
  height: 100px;
  width: 100px;
}

swiper-slide{
  margin-left: auto;
  margin-right: auto;
  height: 140px;
}

.album-style{
  --border-radius: 4px;
}

ion-content{
  --background: url(../../assets/images/settingsbg2.jpg) no-repeat center/cover fixed;
}

ion-toolbar{
  --background: linear-gradient(#eeeeed, #e2e2e2);
}

ion-footer{
  background: linear-gradient(#eeeee4, #e2e2e2);
}

.titles{
  color: #144444;
  font-size: 26px;
  font-weight: 600;
}