<ion-header>
  
</ion-header>

<ion-content>
  <swiper-container [initialSlide]="0" [slidesPerView] = "5">

    <!--Punto 2. Personalizar los slides con información diferente con 5 slides diferentes-->
    <swiper-slide>
      <h2 class="image-tittle">Trollface</h2>
      <img border="2px" src="assets/images/trollface.jpg" alt="" srcset="">
      <p class="image-text-description">"El 'Trollface' es un meme con una cara sonriente maliciosa que representa a personas que disfrutan molestando a otros en línea."</p>
    </swiper-slide>

    <swiper-slide>
      <h2 class="image-tittle">Pokerface</h2>
      <img border="2px" src="assets/images/poker.jpg" alt="" srcset="">
      <p class="image-text-description">'Poker Face' es un meme de internet que muestra a una mujer con una expresión facial neutra, utilizada para representar situaciones en las que se ocultan las emociones o se mantiene la compostura en momentos incómodos.</p>
    </swiper-slide>
    
    <swiper-slide>
      <h2 class="image-tittle">Bad Luck Rian</h2>
      <img border="2px" src="assets/images/rian.jpg" alt="" srcset="">
      <p class="image-text-description">'Bad Luck Brian' es un meme de internet que muestra a Kyle Craven con una expresión facial poco atractiva y un jersey de los años 80. El meme se hizo popular en 2012 al retratar a Ryan como alguien extremadamente desafortunado en situaciones cómicas.</p>
    </swiper-slide>

    <swiper-slide>
      <h2 class="image-tittle">Forever alone</h2>
      <img border="2px" src="assets/images/alone.png" alt="" srcset="">
      <p class="image-text-description">El meme "Forever Alone" es un meme de Internet que se originó en 2009 y se utiliza para representar a una persona solitaria y sin pareja. Se caracteriza por una imagen de un personaje triste y solo, con una expresión facial de tristeza y desesperación. El meme se ha utilizado ampliamente en diferentes contextos para expresar la sensación de estar solo o tener dificultades para encontrar compañía romántica. Se ha convertido en un símbolo reconocible de la soledad en la cultura de Internet.</p>
    </swiper-slide>

    <swiper-slide>
      <h2 class="image-tittle">Yao Ming Face</h2>
      <img border="2px" src="assets/images/ming.png" alt="" srcset="">
      <p class="image-text-description">El meme de Yao Ming se basa en una imagen del exjugador de baloncesto chino Yao Ming con una expresión facial de sorpresa o incredulidad. La imagen se utiliza para representar situaciones en las que alguien se encuentra con algo inesperado o difícil de creer. Por lo general, se combina con un texto humorístico o sarcástico para enfatizar la reacción de sorpresa o incredulidad de Yao Ming ante la situación presentada. El meme se popularizó en Internet a principios de la década de 2010 y desde entonces ha sido utilizado en diversos contextos para transmitir humor y sorpresa.</p>
    </swiper-slide>

  </swiper-container>
</ion-content>
