<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;600&family=Vesper+Libre&display=swap" rel="stylesheet">

<ion-header >
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-avatar (click)="takePhoto()"  class="center-avatar">
    <img [src] ="userImage" *ngIf="!photo"/>
    <img [src] ="photo" *ngIf="photo"/>
  </ion-avatar>
  <h1 class="ion-text-center">{{userInfo?.name}} {{userInfo?.last_name}}</h1>
  <h2 class="ion-text-center">{{userInfo?.email}}</h2>
  <ion-grid>
    <ion-row class="align-items-center ion-text-center row-header">
      <ion-col class="col-numbers">
        100
      </ion-col>
      <ion-col class="col-numbers">
        25
      </ion-col>
      <ion-col class="col-numbers">
        123
      </ion-col>
    </ion-row>
    <ion-row class="align-items-center ion-text-center row-header">
      <ion-col class="col-information">
        Artistas
      </ion-col>
      <ion-col class="col-information">
        Seguidores
      </ion-col>
      <ion-col class="col-information">
        Canciones
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
